
.container {
  display: flex;
  justify-content: center;
}

.geral{
    display: flex;
    flex-direction: column;
}

.card {
  border: 1px solid #000000;
  background-color: #b4b4b4;
  display: flex;
  max-width: 95%;
}

.input{
    color: #000000;
}

.field{
    padding-right: 7px;
}

.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    padding-bottom: 1vh;
    margin-left: -4vh;
}