.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2vh;
}

.table{
    padding-left: 2vh;
    display: flex;
    justify-content: center;
}